# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large files > 100MB
*.zip
*.tar.gz
lung_cancer_model.h5
MediVision_FYP.zip

# Virtual environments
venv/
env/
.env

# OS files
.DS_Store
